<!-- Fichaje Box -->
<div class="bg-white p-6 rounded-xl shadow-md mb-8 col-span-1">
  <h2 class="text-xl font-semibold text-gray-900 mb-4">Fichar jornada</h2>
  <form [formGroup]="fichajeForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
      <div>
        <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha:</label>
        <input type="date" id="fecha" formControlName="fecha" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div>
        <label for="hora-entrada" class="block text-sm font-medium text-gray-700">Hora de entrada:</label>
        <input type="time" id="hora-entrada" formControlName="horaEntrada" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
      </div>
      <div>
        <label for="hora-salida" class="block text-sm font-medium text-gray-700">Hora de salida:</label>
        <input type="time" id="hora-salida" formControlName="horaSalida" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
      </div>
    </div>
  
    <div class="mb-6">
      <label for="lugar" class="block text-sm font-medium text-gray-700">Lugar:</label>
      <input type="text" id="lugar" formControlName="lugar" placeholder="Nave o lugar del evento" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
    </div>
  
    <div class="mb-6">
      <label for="evento" class="block text-sm font-medium text-gray-700">Evento:</label>
      <input type="text" id="evento" formControlName="evento" placeholder="Nombre del evento" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
    </div>
  
    <div class="mb-6">
      <label for="comentarios" class="block text-sm font-medium text-gray-700">Comentarios o incidencias:</label>
      <textarea id="comentarios" formControlName="comentarios" rows="3" placeholder="" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500"></textarea>
    </div>
  
    <div class="mb-6">
      <label for="gastos" class="block text-sm font-medium text-gray-700">Gastos (€):</label>
      <input type="number" id="gastos" formControlName="gastos" min="0" step="0.01" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
    </div>
  
    <div class="mb-6">
      <label for="imagen" class="block text-sm font-medium text-gray-700">Subir imagen:</label>
      <input type="file" id="imagen" formControlName="imagen" accept="image/*" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
    </div>
  
    <div class="flex gap-4">
      <button type="submit" [disabled]="!fichajeForm.valid" class="w-1/2 bg-blue-500 text-white py-3 px-4 rounded-lg hover:bg-blue-600 focus:ring-2 focus:ring-indigo-500">Fichar Entrada</button>
      <button type="submit" [disabled]="!fichajeForm.valid" class="w-1/2 bg-green-500 text-white py-3 px-4 rounded-lg hover:bg-green-600 focus:ring-2 focus:ring-indigo-500">Fichar Salida</button>
    </div>
  </form>
  
</div>