<!-- Registro Horario -->
<div class="bg-white p-6 rounded-xl shadow-md col-span-2 mb-8">
    <h2 class="text-xl font-semibold text-gray-900 mb-4">Registro horario</h2>

    <div class="mb-6 w-1/6 ml-auto">
      <label for="month" class="block text-sm font-medium text-gray-700">Mes:</label>
      <select id="month" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>

    <table class="w-full table-auto text-sm mb-6">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-3 text-left">Fecha</th>
          <th class="px-4 py-3 text-left">Entrada</th>
          <th class="px-4 py-3 text-left">Salida</th>
          <th class="px-4 py-3 text-left">Total horas</th>
          <th class="px-4 py-3 text-left">Lugar</th>
          <th class="px-4 py-3 text-left">Evento</th>
          <th class="px-4 py-3 text-left">Comentarios</th>
          <th class="px-4 py-3 text-left">Gastos</th>
          <th class="px-4 py-3 text-left">Archivos</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover:bg-gray-50">
          <td class="px-4 py-3">2025-04-18</td>
          <td class="px-4 py-3">08:00</td>
          <td class="px-4 py-3">16:15</td>
          <td class="px-4 py-3">8h 15min</td>
          <td class="px-4 py-3"></td>
          <td class="px-4 py-3">Reunión externa</td>
          <td class="px-4 py-3"></td>
          <td class="px-4 py-3">0€</td>
          <td class="px-4 py-3"></td>
        </tr>
        <tr class="hover:bg-gray-50">
          <td class="px-4 py-3">2025-04-17</td>
          <td class="px-4 py-3">09:15</td>
          <td class="px-4 py-3">17:00</td>
          <td class="px-4 py-3">7h 45min</td>
          <td class="px-4 py-3">Oficina</td>
        </tr>
        <tr class="hover:bg-gray-50">
          <td class="px-4 py-3">2025-06-22</td>
          <td class="px-4 py-3">09:00</td>
          <td class="px-4 py-3">19:15</td>
          <td class="px-4 py-3">10h 15min</td>
          <td class="px-4 py-3">Sevilla</td>
          <td class="px-4 py-3">Concierto SFDK</td>
          <td class="px-4 py-3"></td>
          <td class="px-4 py-3">200€</td>
          <td class="px-4 py-3">factura.png</td>
        </tr>
      </tbody>
    </table>
  </div>