<div class="max-w-5xl mx-auto p-5">
  <section class="bg-white p-6 rounded-xl shadow-md">
    <div class="flex gap-4 mb-6">
      <button 
        [ngClass]="{
          'py-2 px-6 border rounded-lg font-medium transition duration-200 ease-in-out': true,
          'border-indigo-600 bg-indigo-600 text-white': activeSection === 'empleados',
          'border-gray-300 bg-gray-100 hover:bg-indigo-600 hover:text-white': activeSection !== 'empleados'
        }"
        (click)="setActiveSection('empleados')">
        Empleados
      </button>
      <button 
        [ngClass]="{
          'py-2 px-6 border rounded-lg font-medium transition duration-200 ease-in-out': true,
          'border-indigo-600 bg-indigo-600 text-white': activeSection === 'usuarios',
          'border-gray-300 bg-gray-100 hover:bg-indigo-600 hover:text-white': activeSection !== 'usuarios'
        }"
        (click)="setActiveSection('usuarios')">
        Crear usuario
      </button>
    </div>

    <!-- Añade estos contenedores para los componentes -->
    <div *ngIf="activeSection === 'empleados'">
      <app-empleados></app-empleados>
    </div>

    <div *ngIf="activeSection === 'usuarios'">
      <app-gestion-usuarios></app-gestion-usuarios>
    </div>
  </section>
</div>