<!-- src/app/components/empleados/empleados.component.html -->
<div>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">Nombre</th>
          <th class="px-4 py-2">Apellido</th>
          <th class="px-4 py-2">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados" (click)="mostrarDetalles(empleado)">
          <td class="border px-4 py-2">{{ empleado.nombre }}</td>
          <td class="border px-4 py-2">{{ empleado.apellidos }}</td>
          <td class="border px-4 py-2">{{ empleado.estado }}</td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="empleadoSeleccionado">
      <h3>Detalles del Empleado</h3>
      <p><strong>Nombre:</strong> {{ empleadoSeleccionado.nombre }} {{ empleadoSeleccionado.apellidos }}</p>
      <p><strong>Estado:</strong> {{ empleadoSeleccionado.estado }}</p>
      <!-- Agrega más detalles según sea necesario -->
    </div>
  </div>
  